In [1]:
import json
import os
import pandas as pd
import numpy as np

In [45]:
path = "results/CP"

try:
    with open(path + "/1.json", 'r') as file:
        keys = sorted(list(json.load(file).keys()))
        keys.extend(["instance"])
        soft_df = pd.DataFrame(columns=keys)  
except:
    print("No file 1.json")
    soft_df = None  
try:
    with open(path + "/11.json", 'r') as file:
        keys = sorted(list(json.load(file).keys()))
        keys.extend(["instance"])
        hard_df = pd.DataFrame(columns=keys)
except:
    print("No file 11.json")
    hard_df = None

No file 11.json

In [39]:
soft_df

Empty DataFrame
Columns: [gecode_plain_bin_packing.mzn, gecode_plain_no_bin_packing.mzn, gecode_sym.mzn, gecode_sym_ordered.mzn, instance]
Index: []

In [ ]:
i = 0
for json_file in os.listdir(path):
    with open(path + "/" + json_file, 'r') as file:
        try:
            data = json.load(file)
        except json.JSONDecodeError:
            print(f"Error in file: {json_file}")
            continue
        print(f"File: {json_file}")
        keys = list(data.keys())
        obj_values = [data[key]["obj"] for key in keys]
        print(f"obj_values = {obj_values}")
        best_key = keys[obj_values.index(min([obj for obj in obj_values if obj > 0]))]

        instance = json_file[:2]
        try:
            instance = int(instance)
        except ValueError:
            instance = int(instance[0])
        
        obj_values.extend([instance])

        # print(f"best_key = {best_key}")
        # print(f"best_obj = {data[best_key]['obj']}")
        # print("\n\n")
        # print(f"keys = {keys}")
        
        if json_file[1] == "." or json_file[:2] == "10" and soft_df is not None:
            soft_df.loc[i] = obj_values
        elif hard_df is not None:
            hard_df.loc[i] = obj_values
        else:
            print("No dataframes")
            break
        i += 1

File: 1.json
obj_values = [14, 14, 14, 0]
File: 10.json
obj_values = [244, 244, 244, 0]
File: 2.json
obj_values = [226, 226, 226, 226]
File: 3.json
obj_values = [12, 12, 12, 0]
File: 4.json
obj_values = [220, 220, 220, 220]
File: 5.json
obj_values = [206, 206, 206, 0]
File: 6.json
obj_values = [322, 322, 322, 322]
File: 7.json
obj_values = [167, 167, 167, 167]
File: 8.json
obj_values = [186, 186, 186, 0]
File: 9.json
obj_values = [436, 436, 436, 0]

In [ ]:
soft = soft_df.reset_index(drop=True).set_index("instance").sort_index(inplace=False)
# hard = hard_df.reset_index(drop=True).set_index("instance").sort_index(inplace=False)

In [44]:
soft

,gecode_plain_bin_packing.mzn,gecode_plain_no_bin_packing.mzn,gecode_sym.mzn,gecode_sym_ordered.mzn
instance,,,,
1,14,14,14,0
2,226,226,226,226
3,12,12,12,0
4,220,220,220,220
5,206,206,206,0
6,322,322,322,322
7,167,167,167,167
8,186,186,186,0
9,436,436,436,0
10,244,244,244,0

In [75]:
soft.to_csv("results_almost_final/soft_results.csv")

In [76]:
hard.to_csv("results_almost_final/hard_results.csv")